.site_header{
    background-color: #363740;
    display: block;
    height: 100vh;
    left: 0;
    max-width: 255px;
    padding: 37px 0;
    position: fixed;
    width: 100%;
}
.nav-span{
    color: #DDE2FF;
}
