.text {
    font-size: 19px;
line-height: 22px;
text-align: center;
letter-spacing: 0.4px;

/* grayscale / gray */

color: #9FA2B4;
}

.card_number {
    font-family: 'Muli';
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1px;
    color: #252733;
}

.cards {
    width: 258px;
    padding: 24px 32px;
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    &:hover{
        border: 1px solid #3751ff;
        .text{
            color: #3751ff;
        }
        .card_number{
            color: #3751ff;
        }
    }
}
